---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>

  </header>

  <div class="post-content" itemprop="articleBody">
    <h2><div id="eventDate"></div></h2>
    {{ content }}
    <p>Event Link for Register/RSVP/Info: <a href="{{page.link}}">{{page.link}}</a></p>
    <button onclick="javascript:cal_file.download('event')">Download iCal file</button>
    <script src="../../assets/js/ics.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var eventDate = '{{ page.event_date }} 00:00';
            var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            var formattedDate = new Date(eventDate).toLocaleDateString('en-US', options);

            document.getElementById('eventDate').textContent = formattedDate;
        });

        cal_file = ics();
        cal_file.addEvent('{{page.title}}', '{{page.link}}', '{{page.event_citytown}}, {{page.event_region}}, {{page.event_country}}', '{{page.event_date}} 0:00', '{{page.event_date}} 0:00');
      </script>
  </div>

</article>